{% extends "::base.html.twig" %}

{% block title %}Rapport quotidien{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Rapport quotidien</h1>
                    {{ form_start(form, {'action': path('app_rapport_afficherrap')} ) }}

                        <div class="row">
                            <div class="col-md-6">
                                <h2>Rechercher un titre</h2>
                                    <div id="custom-search-input">
                                        <div class="input-group col-md-12">

                                            {{ form_widget(form.recherche, {'attr': {'class': 'form-control input-mg',
                                                                                    'placeholder': 'Titre'
                                                                                    }} ) }}

                                            <span class="input-group-btn">
                                                <button class="btn btn-warning btn-md" type="submit">
                                                    <i class="glyphicon glyphicon-search"> Rechercher</i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    {{ form_end(form)}}
            </div>
        </div>

        </br>

{# new template #}

        <div class="row">

            <div class="text-center">
                {{ knp_pagination_render(articles) }}
            </div>

            {% for article in articles %}

                <div class="col-md-12">
                    <div class=" panel panel-warning">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center"><a id="" class="" href="/page_article/{{ article.title }}">
                            <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> {{ article.title }}</a></h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row sub_div_tab">
                                        <aside class="col-md-12 text-center photo_area">
                                            <h3>Annexes</h3>
                                            {% if article.photo is null %}
                                                <p class="">Aucune photo</p>
                                            {% else %}
                                                <img class="img_cadre" src="{{ vich_uploader_asset(article, 'photoFile') }}" alt="photo_article">
                                                <aside class="col-md-12 text-center">
                                                    <!-- Trigger the modal with a button -->
                                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#img_{{ article.id }}">Aperçu image</button>
                                                    <!-- Modal -->
                                                    <div id="img_{{ article.id }}" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">Aperçu image de l'article {{ article.title }}</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div>
                                                                        <img class="img_cadre_lg" src="{{ vich_uploader_asset(article, 'photoFile') }}" alt="photo_article">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </aside>
                                            {% endif %}
                                        </aside>
                                        <aside class="col-md-12 text-center pdf_area">
                                            {% if article.articlepdf is null %}
                                                <p class="text-center">Aucun fichier PDF</p>
                                            {% else %}
                                                <!-- Trigger the modal with a button -->
                                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#pdf_{{ article.id }}">Fichier PDF</button>
                                                <!-- Modal -->
                                                <div id="pdf_{{ article.id }}" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">Fichier PDF</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div>
                                                                        <object data="{{ vich_uploader_asset(article, 'articlepdfFile') }}" type="application/pdf" width="100%" height="650">
                                                                        </object>
                                                                    </div>
                                                                </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </aside>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="text-center">Description</h3>
                                    <div class="description">
                                    <blockquote>
                                        <p class="text-justify">{{ article.description }}</p>
                                    </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        
            <div class="text-center">
                {{ knp_pagination_render(articles) }}
            </div>

        </div>
    </div>

{% endblock %}

