{% extends "::base.html.twig" %}

{% block title %}Page de l'annonce{% endblock %}

{% block body %}
    <div class="container">

        {% if article_page is defined %}

        {# nouveau template #}

        <h1 class="text-center">{{ article_page.title }}"</h1>

        <div class="row">

            <div class="col-md-8">
                <h3 class="text-center">Rapport de stage, point journalier</h3>
                <p class="text-justify">{{ article_page.description }}</p>
            </div>

            <div class="col-md-4">
                <h3 class="text-center">Annexes images/PDF</h3>

                <div class="zone_annexe text-center">

                    <div class="photo_area">
                        {% if article_page.photo is null %}
                            <p class="text-center">Aucune photo</p>
                        {% else %}
                            <img class="img_cadre_page_seule" src="{{ vich_uploader_asset(article_page, 'photoFile') }}" alt="photo_article">
                            <aside class="col-md-12 text-center">
                                <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-info btn-lg btn_espace" data-toggle="modal" data-target="#img_{{ article_page.id }}">Aperçu image</button>
                                <!-- Modal -->
                                <div id="img_{{ article_page.id }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Aperçu image de l'article {{ article_page.title }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    <img class="img_cadre_lg" src="{{ vich_uploader_asset(article_page, 'photoFile') }}" alt="photo_article">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        {% endif %}
                    </div>

                    <div class="pdf_area">

                        {% if article_page.articlepdf is null %}
                            <p class="text-center">Aucun fichier PDF</p>
                        {% else %}
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#pdf_{{ article_page.id }}">Fichier PDF</button>
                            <!-- Modal -->
                            <div id="pdf_{{ article_page.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Fichier PDF</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                <object data="{{ vich_uploader_asset(article_page, 'articlepdfFile') }}" type="application/pdf" width="100%" height="650">
                                                </object>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        <div class="btn-return">
            <hr>
            <form>
                <button class="btn btn-warning" type="button" onclick="history.go(-1)">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Revenir</button>
            </form>
        </div>
    </div>
{% endblock %}
